<div class="container">
  <div class="row align-items-center">
    <div class="col-3">
      <%=image_tag category.icon, alt: category.name, class: 'img-fluid' %>
    </div>
    <div class="col-9">
      <%= category.name %>
    </div>
  </div>
</div>