  <div class="d-flex gap-2 border border-2 rounded-2 p-3 mb-3">
    <div style="height: 50px;">
      <%=image_tag category.icon, alt: category.name, class: 'img-fluid', style: "height: 40px" %>
    </div>
    <div>
      <%= link_to category.name, category_transaction_entries_path(category), class: 'nav-link' %>
    </div>
  </div>