<section>
  <div class="grid_container">
    <div class="grid_one">
      <h1 class="text-center">Budget App</h1>
    </div>
    <div class="d-grid gap-2">
      <%= link_to 'LOG IN', new_user_session_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-white btn-lg' %>
    </div>
  </div>
</section>
